.topsection {
	margin-top: 6em;
}

.topsection h1 {
	font-weight: 700;
	font-size: 72px;
}

.sButton {
	background-color:rgba(255,167,6,0.75);
	font-weight: 500;
}

.sButton:hover {
	background-color:rgba(255,167,6,1);
}

.bottomsection {
	margin-top: 80px;
}

.bottomsection img {
	width: 320px;
	height: 320px;
	margin-right: 32px;
	margin-bottom: 32px;
}

.bottomsection img:hover {
	opacity: 0.8;
}